<style>
	.book-block { margin: 15px 10px; }
	.book-block input{ padding: 5px 3px; }
	.int-block input{ margin: 0 20px; }
</style>
<form action="/dobooks" method="GET">
	<div class="book-block">
		<lable for="idcode" style="margin-left: 14px;"> I D </label>
		<input type="text" name="sid" id="idcode" placeholder="请输入ID号码" />
	</div>
	<div class="book-block">
		<lable for="bookname">书名</label>
		<input type="text" name="bookname" id="bookname" placeholder="请输入书名" />
	</div>
	<div class="book-block">
		<lable for="sauthor">作者</label>
		<input type="text" name="author" id="sauthor" placeholder="请输入作者" />
	</div>
	<div class="book-block">
		<lable for="sprice">价格</label>
		<input type="text" name="price" id="sprice" placeholder="请输入价格" />
	</div>
	<div class="book-block int-block">
		<span>所属分类：</span>
		<input type="radio" name="category" value="管理类">管理类
		<input type="radio" name="category" value="经济类">经济类	
		<input type="radio" name="category" value="法律类">法律类	
		<input type="radio" name="category" value="哲学类">哲学类
		<input type="radio" name="category" value="文学类">文学类	
	</div>
	<button type="submit">上传</button>
</form>